body {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}

.cabecera {
  background: red;
}
.container {
  width: 70%;
  padding: left;
  text-align: left;
  border: 1px solid #333333;
  margin: 0 auto;
}
